@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul, ol {
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#wrap {
  width: 100%;
  margin-top: 0.8%;
  margin-bottom: 1.3%;
}

header {
  max-width: 1912px;
  height: 170px;
  margin: 0 auto;
}
header .up-header {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #fff;
}
header .up-header img {
  width: 102px;
  height: auto;
}
header .up-header div {
  display: flex;
}
header .up-header div ul {
  display: flex;
}
header .up-header div ul li {
  margin: 0 10px;
}
header .up-header div ul li a {
  color: #999;
  font-size: 14px;
}
header .up-header div select {
  width: 95px;
  height: 28px;
  margin-left: 10px;
  padding: 0 5px;
  font-size: 12px;
  border: 0.5px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}
header .main-menu {
  max-width: 1912px;
  height: 70px;
  margin: 0 auto;
}
header .main-menu div {
  width: 1280px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdff;
}
header .main-menu div img[alt=메뉴] {
  width: 32px;
  height: auto;
}
header .main-menu div img {
  width: 30px;
  height: auto;
}
header .main-menu div .main-nav1 > ul,
header .main-menu div .main-nav2 > ul {
  display: flex;
}
header .main-menu div .main-nav1 li:first-child {
  margin-right: 15px;
}
header .main-menu div .main-nav1 li:not(:first-child) {
  margin: 0 15px;
}
header .main-menu div .main-nav1 a {
  color: #222;
  font-weight: 500;
  font-size: 18px;
}
header .main-menu div .main-nav2 li {
  margin: 0 10px;
}
header .main-menu div .main-nav2 li:last-child {
  margin-right: 0px;
}

footer {
  max-width: 1912px;
  height: 320px;
  margin: 0 auto;
  background-color: #012748;
}

.footerContent {
  width: 1252px;
  height: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footerContent .footerBox1 {
  width: 788px;
  height: 190px;
  padding: 0 10% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footerContent .footerBox1 a, .footerContent .footerBox1 span, .footerContent .footerBox1 p {
  color: #fff;
}
.footerContent .footerBox1 .footerNav > ul {
  display: flex;
}
.footerContent .footerBox1 .footerNav > ul li {
  margin-right: 10px;
  text-align: center;
}
.footerContent .footerBox1 .footerNav > ul li span {
  font-weight: 700;
}
.footerContent .footerBox1 .footerNav > ul li:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
}
.footerContent .footerBox1 .footerText1 {
  font-size: 14px;
  line-height: 1.5;
}
.footerContent .footerBox1 .footerText1 span:not(:last-child)::after {
  content: "|";
  color: #fff;
  font-size: 13px;
  margin-left: 5px;
}
.footerContent .footerBox1 .footerText2 {
  font-size: 11px;
}
.footerContent .footerBox2 {
  width: 262px;
  height: 190px;
  padding-right: 3%;
}
.footerContent .footerBox2 img[alt=인스타] {
  width: 22px;
  height: 22px;
}
.footerContent .footerBox2 p, .footerContent .footerBox2 ul > li, .footerContent .footerBox2 a {
  color: #fff;
}
.footerContent .footerBox2 p {
  font-size: 18px;
  font-weight: 800;
}
.footerContent .footerBox2 a {
  font-size: 23px;
  margin-top: 6%;
  margin-bottom: 8%;
  display: flex;
  align-items: start;
  gap: 8px;
}
.footerContent .footerBox2 li:last-child {
  font-size: 12.7px;
}
.footerContent .footerBox3 {
  width: 200px;
  height: 190px;
}
.footerContent .footerBox3 p, .footerContent .footerBox3 a {
  color: #fff;
}
.footerContent .footerBox3 p {
  font-size: 18px;
  font-weight: 800;
}
.footerContent .footerBox3 .footerBox3-menu {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  padding-right: 22%;
  font-size: 14px;
}
.footerContent .footerBox3 .footerBox3-menu li {
  padding: 5% 0;
}

.swiper-slideWrap {
  max-width: 1912px;
  height: 600px;
  margin: 0 auto;
  background-color: lightcyan;
}

.index-ban {
  max-width: 1912px;
  height: 152px;
  margin: 0 auto;
}
.index-ban div {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.index-ban div nav {
  width: 100%;
}
.index-ban div nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.index-ban div nav ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.index-ban div nav ul li img {
  width: 78px;
  height: auto;
}
.index-ban div nav ul li a {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.index-ban div nav ul li:hover a {
  box-shadow: 0 0 15px rgba(108, 108, 108, 0.3);
  transform: translateY(-6px);
}

.new-book {
  max-width: 1912px;
  height: 579px;
  margin: 0 auto;
  background-color: lightgray;
}

.best-book {
  max-width: 1912px;
  height: 550px;
  margin: 0 auto;
}
.best-book h3 {
  text-align: center;
  margin-bottom: 2%;
  font-size: 30px;
  font-weight: 500;
}
.best-book .bestWrap {
  width: 1252px;
  height: 377px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.best-book .bestWrap .bestBox {
  width: 298px;
  height: 367px;
  display: flex;
  flex-flow: column;
  row-gap: 10px;
  cursor: pointer;
}
.best-book .bestWrap .bestBox .best-imgBox {
  width: 298px;
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 15px;
}
.best-book .bestWrap .bestBox .best-imgBox img {
  width: 150px;
  height: auto;
}
.best-book .bestWrap .bestBox p {
  padding-top: 15px;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #555;
}
.best-book .bestWrap .bestBox h6 {
  padding-left: 10px;
  font-size: 13px;
  font-weight: 700;
  color: #333;
}

.center-ban {
  max-width: 1912px;
  height: 217px;
  margin: 0 auto;
}
.center-ban a {
  display: flex;
  justify-content: center;
}
.center-ban a img {
  width: 1252px;
  height: 217px;
}

.hot-book {
  max-width: 1912px;
  height: 903px;
  margin: 0 auto;
  background-color: lightsalmon;
}

.how-book {
  max-width: 1912px;
  height: 3604px;
  margin: 0 auto;
  background-color: lightseagreen;
}

.your-book {
  max-width: 1912px;
  height: 723px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.project-ban {
  max-width: 1912px;
  height: 427px;
  margin: 0 auto;
  background-color: lightyellow;
}

.notice1 {
  max-width: 1912px;
  height: 104px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.notice1 .notice-wrap {
  width: 1252px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.notice1 .notice-wrap .notice-box1 {
  width: 220px;
  height: 33px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.notice1 .notice-wrap .notice-box1 p {
  font-size: 24px;
  font-weight: 500;
}
.notice1 .notice-wrap .notice-box1 div {
  display: flex;
  align-items: center;
}
.notice1 .notice-wrap .notice-box1 div i {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 0;
  font-size: 15px;
  font-weight: 200;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}
.notice1 .notice-wrap .notice-box1 div .notice-next {
  margin-left: 12px;
}
.notice1 .notice-wrap .notice-box2 {
  width: 842px;
  height: 33px;
  overflow: hidden;
  position: relative;
}
.notice1 .notice-wrap .notice-box2 .notice-slide-wrap {
  width: 1684px;
  height: 100%;
  display: flex;
  align-items: center;
}
.notice1 .notice-wrap .notice-box2 .notice-slide-wrap li {
  width: 842px;
  height: 100%;
  padding-left: 20px;
  font-size: 18px;
}
.notice1 .notice-wrap .notice-box2 .notice-slide-wrap li a {
  text-decoration: none;
  color: #333;
}
.notice1 .notice-wrap .notice-box3 {
  width: 190px;
  height: 33px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.notice1 .notice-wrap .notice-box3 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 13px;
}
.notice1 .notice-wrap .notice-box3 a i {
  margin-top: 3px;
  font-size: 20px;
}

.notice2 {
  max-width: 1912px;
  height: 184px;
  margin: 0 auto;
}
.notice2 a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice2 a img {
  width: 800px;
  height: 113px;
}

.review {
  max-width: 1912px;
  height: 520px;
  margin: 20px auto;
  margin-bottom: 5px;
}
.review p {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 25px;
}
.review .review-wrap {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.review .review-wrap .review-slide {
  width: 3840px;
  height: 425px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.review .review-wrap .review-slide li {
  width: 240px;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.review .review-wrap .review-slide li div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.review .review-wrap .review-slide li div img {
  width: 240px;
  height: 240px;
  border-radius: 5px;
}
.review .review-wrap .review-slide li div .review-box {
  width: 100%;
  height: 185px;
  padding: 20px 15px;
  row-gap: 16px;
}
.review .review-wrap .review-slide li div .review-box p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}
.review .review-wrap .review-slide li div .review-box .review-text1 {
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 36px;
}
.review .review-wrap .review-slide li div .review-box .review-text2 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: #999;
  font-size: 11px;
}
.review .review-wrap .review-slide li div .review-box .review-text2 .star {
  font-size: 13px;
  color: rgb(18, 18, 18);
  background-color: transparent;
}
.review .review-wrap .review-slide li div .review-box hr {
  border: none;
  border-top: 1px solid #ddd;
}
.review .review-wrap .review-slide li div .review-box .review-book {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0 8px;
}
.review .review-wrap .review-slide li div .review-box .review-book img {
  width: 40px;
  height: 40px;
}
.review .review-wrap .review-slide li div .review-box .review-book .review-text-wrap {
  width: auto;
  height: 100%;
}
.review .review-wrap .review-slide li div .review-box .review-book .review-text-wrap h5 {
  font-size: 11px;
  font-weight: 600;
  color: #333;
}
.review .review-wrap .review-slide li div .review-box .review-book .review-text-wrap p {
  font-size: 12px;
  color: #999;
}
.review .review-wrap .review-slide li div .review-box .review-book .review-text-wrap p span {
  color: #333;
  font-weight: 800;
}
.review .review-wrap .review-prev,
.review .review-wrap .review-next {
  width: 38px;
  height: 62px;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 5px;
  cursor: pointer;
}
.review .review-wrap .review-prev {
  left: 10px;
}
.review .review-wrap .review-next {
  right: 20px;
}