@charset "utf-8";
@import "common";

// MIXIN
@mixin full-width{
    max-width: 1912px;
}
@mixin content-width{
    width: 1280px;
}
@mixin margin-auto{
    margin: 0 auto;
}
@mixin cursor-pointer{
    cursor: pointer;
}


// 메인 메뉴 꾸미는 거

// 슬라이드
.swiper-slideWrap{
    @include full-width;
    height: 600px;
    @include margin-auto;
    background-color: lightcyan;
}

// 인덱스 베너
.index-ban{
    @include full-width;
    height: 152px;
    @include margin-auto; 

    div{
        @include content-width;
        height: 100%;
        @include margin-auto;
        display: flex;
        align-items: center;

        nav{
            width: 100%;

            ul{
                width: 100%;
                display: flex;
                justify-content: space-around;
    
                li{
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    img{
                        width: 78px;
                        height: auto;
                    }

                    a{
                        width: 90px;
                        height: 90px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #fafafa;
                        border-radius: 50%;
                        margin-bottom: 15px;
                        transition: transform 0.5s ease, box-shadow 0.5s ease;
                    }

                    &:hover{
                        a{
                            box-shadow: 0 0 15px rgba(108, 108, 108, 0.3);
                            transform: translateY(-6px);
                        }
                    }
                }
                
            }
        }
    }
}

// 신착 도서
.new-book{
    @include full-width;
    height: 579px;
    @include margin-auto;
    background-color: lightgray;
}

// 베스트
.best-book{
    @include full-width;
    height: 488px;
    @include margin-auto;
    background-color: lightgreen;
}

// 중간 베너
.center-ban{
    @include full-width;
    height: 217px;
    @include margin-auto;
    
    a{
        display: flex;
        justify-content: center;

        img{
            width: 1252px;
            height: 217px;
        }
    }
}

// 화제의 책
.hot-book{
    @include full-width;
    height: 903px;
    @include margin-auto;
    background-color: lightsalmon;
}

// 이 책 어떰요?
.how-book{
    @include full-width;
    height: 3604px;
    @include margin-auto;
    background-color: lightseagreen;
}

// 타인의 책장
.your-book{
    @include full-width;
    height: 723px;
    @include margin-auto;
    background-color: lightskyblue;
}

// 프로젝트 베너
.project-ban{
    @include full-width;
    height: 427px;
    @include margin-auto;
    background-color: lightyellow;
}

// 공지사항
.notice1{
    @include full-width;
    height: 104px;
    @include margin-auto;
    border: {
        top: 1px solid #ddd;
        bottom: 1px solid #ddd;
    }

    .notice-wrap{
        width: 1252px;
        height: 100%;
        @include margin-auto;
        display: flex;
        align-items: center;
        $height: 33px;

        .notice-box1{
            width: 220px;
            height: $height;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            p{
                font-size: 24px;
                font-weight: 500;
            }

            div{
                display: flex;
                align-items: center;

                i{
                    width: 34px;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    line-height: 0;
                    font-size: 15px;
                    font-weight: 200;
                    color: #000;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    @include cursor-pointer;
                }

                .notice-next{
                    margin-left: 12px;
                }

            }
        }

        .notice-box2{
            width: 842px;
            height: $height;
            overflow: hidden;
            position: relative;

            .notice-slide-wrap{
                width: 1684px;
                height: 100%;
                display: flex;
                align-items: center;

                li{
                    width: 842px;
                    height: 100%;
                    padding-left: 20px;
                    font-size: 20px;

                    a{
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
        

        .notice-box3{
            width: 190px;
            height: $height;
            display: flex;
            justify-content: right;
            align-items: center;

            a{
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #000;
                font-size: 13px;
                
                i{
                    margin-top: 3px;
                    font-size: 20px;
                }
            }
        }
    }

}

.notice2{
    @include full-width;
    height: 184px;
    @include margin-auto;

    a{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 800px;
            height: 113px;
        }
    }
}

// 리뷰
.review{
    @include full-width;
    height: 520px;
    margin: 20px auto;
    margin-bottom: 5px;

    p{
        font: {
            size: 23px;
            weight: 700;
        }
        margin-bottom: 25px;
    }

    .review-wrap{
        @include content-width;
        height: 100%;
        @include margin-auto;
        position: relative;
        overflow: hidden;

        .review-slide{
            width: 3840px;
            height: 425px;
            @include margin-auto;
            display: flex;
            justify-content: space-between;

            li{
                width: 241px;
                height: 100%;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 5px;
                @include cursor-pointer;

                div{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    img{
                        width: 240px;
                        height: 240px;
                        border-radius: 5px;
                    }

                    p{
                        font: {
                            size: 15px;
                            weight: 400;
                            color: #222;
                        }
                    }

                    .review-p{
                        display: flex;
                        justify-content: space-around;
                    }
                }
            }
        }

        i{
            width: 38px;
            height: 62px;
            position: absolute;
            top: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.295);
            border-radius: 5px;
            @include cursor-pointer;
        }

        .review-prev{
            left: 10px;
        }
        .review-next{
            right:20px;
        }
    }
}
