@charset "utf-8";
@import "common";

// MIXIN
@mixin full-width {
    max-width: 1912px;
}

@mixin content-width {
    width: 1280px;
}

@mixin margin-auto {
    margin: 0 auto;
}

@mixin cursor-pointer {
    cursor: pointer;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 헤더
header {
    .main-menu {
        border: {
            bottom: 1px solid #ddd;
        }
    }
}

// 컨텐츠
#contents {
    @include full-width;
    height: auto;
    @include margin-auto;

    .bookDetail_wrap {
        @include content-width;
        height: 624px;
        margin: 60px auto;

        .detail {
            width: 1252px;
            height: 624px;
            @include margin-auto;
            display: flex;
            justify-content: space-between;

            .bigImgBox {
                width: 642px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fafafa;
                border-radius: 15px;

                img {
                    width: 400px;
                    height: auto;
                }
            }

            .detail_font {
                width: 510px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3 {
                    font: {
                        size: 25px;
                        weight: 700;
                    }

                    line-height: 30px;
                }

                span {
                    position: relative;
                    font-size: 14px;
                    padding: 10px 0;
                    line-height: 30px;
                    @include cursor-pointer;


                    .fi-sr-star {
                        color: #ddd;
                    }

                    .fi-rs-heart,
                    .fi-rs-share {
                        position: absolute;
                        top: 10px;
                        font-size: 24px;
                        color: #555;
                    }

                    .fi-rs-share {
                        right: 2%;
                    }

                    .fi-rs-heart {
                        right: 10%;
                    }

                }

                hr {
                    border: {
                        top: 1px solid #ddd;
                    }
                }

                table {
                    tr {
                        text-align: left;
                        font-size: 13px;
                        line-height: 30px;
                        color: #555;

                        h4 {
                            font: {
                                size: 14px;
                                weight: 600;
                            }

                            color: #18a9f1;
                            ;
                        }
                    }
                }

                .total {
                    height: 72px;
                    background-color: #fafafa;
                    padding: 0 15px;

                    tr {
                        color: #000;

                        h4 {
                            color: #000;
                        }

                        span {
                            width: 103px;
                            padding: 0;
                            height: 30px;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            border: 1px solid #e5e5e5;
                            border-radius: 8px;
                            background-color: #fff;
                        
                            input {
                                width: 45px;
                                height: 28px;
                                border: none;
                                text-align: center;
                                cursor: default;

                                border: {
                                    right: 1px solid #e5e5e5;
                                    left: 1px solid #e5e5e5;
                                }

                                font: {
                                    weight: 500;
                                    size: 14px;
                                }
                            }

                            .fi-rs-minus-small,
                            .fi-rs-plus-small {
                                font-size: 15px;
                                line-height: 15px;
                            }
                        }
                    }
                }

                .dm {
                    width: 100%;
                    height: 87px;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #e5e5e5;
 
                    .dmpan1 {
                        width: 42px;
                        height: 42px;
                        padding: 0;
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #aaa;
                        border-radius: 50%;
                        cursor: default;

                        .fi-ts-shipping-fast {
                            font-size: 20px;
                            line-height: 0px;
                            color: #fff;
                        }
                    }

                    p {
                        font-size: 13px;

                        b {
                            font-weight: 600;
                        }
                        .dmpan2{
                            color: #18a9f1;
                            font: {
                                size: 13px;
                                weight: 600;
                            }
                            cursor: default;
                        }
                    }
                }

                .dm2 {
                    width: 100%;

                    p {
                        font-size: 13px;

                        span {
                            color: #888;
                        }

                        .fi-rs-interrogation {
                            font-size: 12px;
                            @include cursor-pointer;
                        }
                    }
                }

                .dm3 {
                    padding: 10px 0;

                    p {
                        font-size: 15px;
                        text-align: right;

                        span {
                            font: {
                                size: 20px;
                                weight: 700;
                            }
                            cursor: default;
                        }

                        .dm3span {
                            font: {
                                size: 14px;
                                weight: 500;
                            }
                            color: #7d7d7d;
                            cursor: default;
                        }
                    }
                }

                .dmBtn {
                    text-align: right;
                    height: 58px;

                    .dmBtn1 {
                        width: 219px;
                        height: 100%;
                        color: #555;

                        font: {
                            size: 17px;
                            weight: 500;
                        }

                        text-align: center;
                        border: 1px solid #c7c7c7;
                        border-radius: 8px;
                        background-color: #fff;
                        @include cursor-pointer;

                        &:hover {
                            border: 1px solid #000;
                        }

                        .fi-ts-shopping-cart {
                            font-size: 15px;
                        }
                    }

                    .dmBtn2 {
                        width: 284px;
                        height: 100%;

                        font: {
                            size: 17px;
                            weight: 500;
                        }

                        text-align: center;
                        background-color: #012748;
                        color: #fff;
                        border: none;
                        border-radius: 8px;
                        @include cursor-pointer;
                    }
                }
            }
        }
    }

    .suggest {
        @include content-width;
        height: 300px;
        @include margin-auto;
        position: relative;
        &:hover {
            .suggest-prevBox,
            .suggest-nextBox {
                opacity: 1;
                pointer-events: auto;
            }
        }

        p {
            font: {
                family: 'S-CoreDream-3Light';
                weight: 900;
            }
            padding-left: 20px;

        }

        .suggest-swiper {
            width: 1252px;
            height: 100%;
            overflow: hidden;
            @include margin-auto;

            .suggest-wrapper {
                width: 5500px;
                height: 100%;
                display: flex;
                align-items: center;

                .suggest-slide {
                    width: 160px;
                    height: 230px;
                    margin: 0 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include cursor-pointer;
                    &:hover{
                        .suggest-imgBox img{
                            transform: scale(1.05);
                        }
                    }

                    .suggest-imgBox {
                        width: 100%;
                        height: 160px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #fafafa;

                        img {
                            width: 85px;
                            height: auto;
                            transition: transform 0.3s ease;
                        }
                    }

                    p {
                        font: {
                            family: "Noto Sans", sans-serif;
                            size: 13px;
                            weight: 400;
                        }

                        padding: 0 10px;

                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    h6 {
                        padding: 0 10px;

                        font: {
                            size: 13px;
                            weight: 500;
                        }

                        color: #18a9f1;
                    }
                }
            }
        }

        .suggest-prevBox,
        .suggest-nextBox {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            background-color: #ffffff9c;
            border: 1px solid #eee;
            border-radius: 50%;
            box-shadow: 0 0 6px rgba(226, 226, 226, 0.5);
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
            @include cursor-pointer;

            .suggest-prev,
            .suggest-next {
                font-size: 20px;
                color: #a3a3a3;
                line-height: 0;
            }
        }
        .suggest-nextBox{
                right: 0;
        }
    }

    .inner-menu{
        @include content-width;
        height: 70px;
        @include margin-auto;
        margin-top: 60px;

        ul{
            width: 100%;
            height: 100%;
            display: flex;
            
            li{
                width: 313px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                border-bottom: 1px solid #e5e5e5;;
                @include cursor-pointer;
            }
        }
    }
}